<div class="combat-block grid">
    <div class="stat">
        <h3>Armor Class: </h3>
        <span>{{armor_class}}</span>
    </div>
    <div class="stat">
        <h3>Initiative: </h3>
        <span>{{initiative}}</span>
    </div>
    <div class="stat">
        <h3>Speed: </h3>
        <span>{{speed}}</span>
    </div>
    <div class="stat">
        <h3>Health Points: </h3>
        <span>{{healthpoints}}</span>
    </div>
</div>
