<div class="search-menu">
    <input id="searchbox" type="text" placeholder="Search" onkeyup="search()" value="">
    <h1 id="error" class="errorText"></h1>
    <script>
        function search() {
            let input = document.getElementById("searchbox").value
        
            fetch('/search/{{url}}/' + input)
            .then(res => res.json())
            .then((out) => {
                table = document.getElementsByName('content');
                if (out.length != 0) {
                    document.getElementById("error").innerText = ""
                    delete_result()

                    for (i = 0; i < table.length; i++) {
                        table[i].style.display = "none"
                    }
                    
                    for (i in out){
                        document.getElementById("display_table").appendChild(add_item(out[i]))
                    }

                }else {
                    document.getElementById("error").innerText = "No results found."
                    delete_result()

                    for (i = 0; i < table.length; i++) {
                        table[i].style.display = ""
                    }
                }
            })

            if (input == "") {
                document.getElementById("error").innerText = ""
                delete_result()

                for (i = 0; i < table.length; i++) {
                    table[i].style.display = ""
                }

            }
        }

        function delete_result(){
            var ele = document.getElementsByName("content result");
            for(var i=ele.length-1;i>=0;i--)
            {
                ele[i].parentNode.removeChild(ele[i]);
            }
        }

        function add_item(obj) {
            let a = document.createElement("div")
            a.setAttribute('name', 'content result')
            a.setAttribute('class', 'menu-item col{{@root.params.table_columns}}');
            for (i in obj) {
                a.appendChild(document.createElement("span")).innerHTML = obj[i]
            }
            console.log(a)
            return a
        }
    </script>
</div>