<div class="frame">
    <h2>Character Skills List</h2>
    <div class="character-skills-menu grid">
        <div class="table-header menu-item">
            <span>Character_id</span>
            <span>Skill_id</span>
        </div>
        {{#each context}}
        {{>character_skill_list_item}}
        {{/each}}
    </div>
    <button type="button">Add New Character Skill</button> 
</div>
