<div class="frame">
    {{>topper}}
    <div class="main-section">
        <div class="container">
            {{>character-menu}}
        </div>
        <div class="container">
            {{>stat_block}}
        </div>
    </div>
</div>
