<div class="frame">
    <h2>Character Class List</h2>
    <div class="character-class-menu grid">
        <div class="table-header menu-item">
            <span>Character_id</span>
            <span>Class_id</span>
            <span>Level</span>
        </div>
        {{#each context}}
        {{>character_class_list_item}}
        {{/each}}
    </div>
    <button type="button">Add New Character Class</button> 
</div>
