<div class="frame">
    <h2>Class List</h2>
    <div class="class-menu grid">
        <div class="table-header menu-item">
            <span>Name</span>
            <span>Hit Dice</span>
            <span>Description</span>
        </div>
        {{#each classData}}
        {{>class_list_item}}
        {{/each}}
    </div>
    <button type="button">Add New Class</button> 
</div>
