<div class="container">
    <div class="home-menu grid">
        <div class="menu-item">
            <a href="/characters">Characters</a>
        </div>
        <div class="menu-item">
            <a href="/classes">Classes</a>
        </div>
        <div class="menu-item">
            <a href="races">Races</a>
        </div>
        <div class="menu-item">
            <a href="features">Features</a>
        </div>
        <div class="menu-item">
            <a href="skills">Skills</a>
        </div>
        <div class="menu-item">
            <a href="character-classes">Character Classes</a>
        </div>
        <div class="menu-item">
            <a href="class-features">Class Features</a>
        </div>
        <div class="menu-item">
            <a href="character-skills">Character Skills</a>
        </div>
    </div>
</div>
