<div class="frame">
    <div class="container">
        <div class="home-menu grid">
            {{#each paths}}
            <div class="menu-item">
                <a href="{{path}}">{{title}}</a>
            </div>
            {{/each}}
        </div>
    </div>
</div>
