<div class="frame">
    {{>nav_menu}}
    <h2>Welcom to Character Vault!</h2>
    <p>
        Character Vault is an applicatition devoted to helping table top gamers store their favorit characers online for easy access on the go. Never forget your character sheet again and always be ready for battle with Charater Vault.
    </p>
</div>
