<div class="frame">
    <div class="container">
        <div class="home-menu grid">
            {{#each data}}
            <div class="menu-item">
                <a href="{{@key}}">{{title}}</a>
            </div>
            {{/each}}
        </div>
    </div>
</div>
