<div class="container">
    <div class="home-menu grid">
        <div class="menu-item">
            <a href="/characters">Characters</a>
        </div>
        <div class="menu-item">
            <a href="/classes">Add a Class</a>
        </div>
        <div class="menu-item">
            <a href="races">Add a Races</a>
        </div>
        <div class="menu-item">
            <a href="features">Add a Feature</a>
        </div>
        <div class="menu-item">
            <a href="skills">Add a Skill</a>
        </div>
        <div class="menu-item">
            <a href="character-classes">Add a Character Class</a>
        </div>
        <div class="menu-item">
            <a href="class-features">Add Class Feature</a>
        </div>
        <div class="menu-item">
            <a href="character-skills">Add Character Skill</a>
        </div>
    </div>
</div>
