<div class="frame">
    <div class="container">
        <div class="home-menu grid">
            <div class="menu-item">
                <a href="/characters">Characters</a>
            </div>
            <div class="menu-item">
                <a href="/classes">Classes</a>
            </div>
            <div class="menu-item">
                <a href="races">Races</a>
            </div>
            <div class="menu-item">
                <a href="skills">Skills</a>
            </div>
            <div class="menu-item">
                <a href="character_classes">Character Classes</a>
            </div>
            <div class="menu-item">
                <a href="character_skills">Character Skills</a>
            </div>
        </div>
    </div>
</div>
