<div class="frame">
    <h2>Race List</h2>
    <div class="race-menu grid">
        <div class="table-header menu-item">
            <span>Name</span>
            <span>Description</span>
        </div>
        {{#each raceData}}
        {{>race_list_item}}
        {{/each}}
    </div>
    <button type="button">Add New Race</button> 
</div>
