<div class="frame">
    {{>nav_menu}}
    <div class="container">
        <div class="table-menu grid">
            <div class="table-header menu-item col{{params.table_columns}}">
                {{#each data.[0]}}
                <span>{{@key}}</span>
                {{/each}}
            </div>
            {{#each data}}
            {{>list_item}}
            {{/each}}
        </div>
        {{>add_row_button}}
    </div>
</div>
