/* =============
   Global Styles
   =============*/
header {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: start;
    grid-template-columns: 1fr 8fr;
    padding: 1em;
    background-color: #5b3d2b;
    background-image: url("./leather.png");
}

h1 {
    color: #333;
    text-shadow: 0px 1px 0px rgba(255,255,255,.5);
}

h2 {
    background-color: black;
    color: #f2f9f9;
    margin: 0px;
    padding: 5px 1em 5px 1em;
}

a { text-decoration: none; }
a::first-letter{text-transform: uppercase;}
a:visited { text-decoration: none; color: black;}
a:hover { text-decoration: none; color: black; }
a:focus { text-decoration: none; color: black; }
h1 > a {text-transform: uppercase;}
.menu-item > a:hover {background-color: black; color:white;}

.menu-item > a {
    padding:10px;
}

a > img {
    display: block;
    max-height:100px;
    width: auto;
    height: auto;
}

body {
    background-image: url("background.jpg");
    background-repeat: repeat;
    margin:0px;
}

.frame {
    padding: 1em;
}

.grid {
    display:grid;
    border: 3px solid black;
    border-radius: 25px;
    overflow: hidden;
}

.grid > div{
    background:#eee;
}

.grid > div:nth-child(odd){
    background:#ddd;
}

.menu-item {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
}

/* 12 column grid */
.col12 {
    grid-template-columns: repeat(12, 1fr);
}

/* 3 column grid */
.col3 {
    grid-template-columns: 1fr 1fr 3fr;
}

/* 2 column grid */
.col2 {
    grid-template-columns: 1fr 4fr;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: 75%;
    padding-bottom: 1em;
    font-weight: bold;
    font-size: large;
}

.nav-menu > div{
    grid-template-columns: 1fr;
    padding:0px;
}

.search-menu {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: 75%;
    padding-bottom: 1em;
    font-weight: bold;
    font-size: large;
}

.table-header {
    background-image: url("ebony.jpg") !important;
    background-repeat: repeat;
}

.table-header > span {
    font-weight: bold;
    color: #f2f9f9;
}

button {
    margin: 1em;
    font-weight: bold;
    background-image: url("./rocky-wall.png") !important;
    color:#494a49 !important;
    background-repeat: repeat;
    border-radius: 25px;
    overflow: hidden;
    padding: 3px 5px 3px 5px;
    font-size: 1em;
    text-shadow: 0px 1px 0px rgba(255,255,255,.5);
}

button::-moz-focus-inner {
    border: 0;
}

form {
    max-width: 50%;
}

fieldset > div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-bottom: 10px;
    align-items: center;
}

span {
    font-weight: bold;
}
